body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:456px;
  top:578px;
  width:100px;
  height:60px;
}
#u79 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:456px;
  top:472px;
  width:100px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:456px;
  top:775px;
  width:100px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:456px;
  top:887px;
  width:100px;
  height:60px;
}
#u85 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:506px;
  top:532px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u86_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:21px;
}
#u87 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:506px;
  top:638px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u88_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u89 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:506px;
  top:835px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u90_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:21px;
}
#u91 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:456px;
  top:995px;
  width:100px;
  height:60px;
}
#u93 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:506px;
  top:947px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u94_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:21px;
}
#u95 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  position:absolute;
  left:456px;
  top:142px;
  width:100px;
  height:60px;
}
#u97 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u98 {
  position:absolute;
  left:410px;
  top:679px;
  width:192px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:15px;
  width:188px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:506px;
  top:739px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u100_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:21px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:521px;
  top:739px;
  width:15px;
  height:18px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:410px;
  top:709px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u104_seg1 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:324px;
}
#u104_seg2 {
  position:absolute;
  left:-44px;
  top:312px;
  width:90px;
  height:8px;
}
#u104_seg3 {
  position:absolute;
  left:32px;
  top:306px;
  width:21px;
  height:20px;
}
#u105 {
  position:absolute;
  left:-90px;
  top:173px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:456px;
  top:41px;
  width:100px;
  height:60px;
}
#u107 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:506px;
  top:101px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u108_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u109 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:181px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:181px;
}
#u111 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:456px;
  top:247px;
  width:100px;
  height:60px;
}
#u113 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:506px;
  top:202px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u114_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:21px;
}
#u115 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:456px;
  top:358px;
  width:100px;
  height:60px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:506px;
  top:307px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u118_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:21px;
}
#u119 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:506px;
  top:418px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u120_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:21px;
}
#u121 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:395px;
  top:686px;
  width:15px;
  height:18px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u124 {
  position:absolute;
  left:644px;
  top:472px;
  width:240px;
  height:60px;
}
#u125 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u126 {
  position:absolute;
  left:644px;
  top:775px;
  width:240px;
  height:60px;
}
#u127 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u128 {
  position:absolute;
  left:644px;
  top:358px;
  width:240px;
  height:60px;
}
#u129 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u130 {
  position:absolute;
  left:644px;
  top:1005px;
  width:240px;
  height:50px;
}
#u131 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
