body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:571px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:571px;
}
#u803 {
  position:absolute;
  left:2px;
  top:278px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804 {
  position:absolute;
  left:327px;
  top:109px;
  width:622px;
  height:25px;
}
#u804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  position:absolute;
  left:215px;
  top:113px;
  width:87px;
  height:18px;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  position:absolute;
  left:215px;
  top:161px;
  width:95px;
  height:18px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u809 {
  position:absolute;
  left:327px;
  top:161px;
  width:622px;
  height:85px;
}
#u809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:85px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:215px;
  top:310px;
  width:87px;
  height:18px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u812 {
  position:absolute;
  left:327px;
  top:310px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u813 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u812_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u814 {
  position:absolute;
  left:327px;
  top:366px;
  width:279px;
  height:18px;
  font-size:14px;
}
#u815 {
  position:absolute;
  left:16px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u814_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u816 {
  position:absolute;
  left:327px;
  top:338px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u817 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u816_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u818 {
  position:absolute;
  left:327px;
  top:492px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u819 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u818_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u820 {
  position:absolute;
  left:327px;
  top:392px;
  width:305px;
  height:90px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u821 {
  position:absolute;
  left:644px;
  top:392px;
  width:305px;
  height:90px;
}
#u821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:215px;
  top:270px;
  width:87px;
  height:18px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u824 {
  position:absolute;
  left:327px;
  top:270px;
  width:71px;
  height:22px;
}
#u824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u824_input:disabled {
  color:grayText;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u825 {
  position:absolute;
  left:475px;
  top:43px;
  width:162px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u827 {
  position:absolute;
  left:327px;
  top:523px;
  width:127px;
  height:22px;
}
#u827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u827_input:disabled {
  color:grayText;
}
#u828 {
  position:absolute;
  left:537px;
  top:520px;
  width:103px;
  height:25px;
}
#u828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:464px;
  top:527px;
  width:73px;
  height:18px;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
