body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:824px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:824px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:43px;
  width:130px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:96px;
  width:894px;
  height:92px;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:30px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:488px;
  height:30px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:484px;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:241px;
  height:30px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:165px;
  height:30px;
  color:#999999;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:30px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:30px;
  width:488px;
  height:30px;
  color:#999999;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:484px;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:30px;
  width:241px;
  height:30px;
  color:#999999;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:32px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:165px;
  height:32px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:32px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:60px;
  width:488px;
  height:32px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:484px;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:60px;
  width:241px;
  height:32px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
