body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:844px;
}
#u181 {
  position:absolute;
  left:2px;
  top:414px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:0px;
  top:74px;
  width:80px;
  height:27px;
}
#u184 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:64px;
}
#u186 {
  position:absolute;
  left:2px;
  top:24px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u187 {
  position:absolute;
  left:28px;
  top:13px;
  width:37px;
  height:38px;
}
#u188 {
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u189 {
  position:absolute;
  left:69px;
  top:18px;
  width:263px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:1124px;
  top:23px;
  width:54px;
  height:24px;
}
#u192 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:0px;
  top:101px;
  width:80px;
  height:27px;
}
#u194 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:0px;
  top:128px;
  width:80px;
  height:27px;
}
#u196 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  position:absolute;
  left:0px;
  top:155px;
  width:80px;
  height:27px;
}
#u198 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:109px;
  top:110px;
  width:1090px;
  height:205px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u202 {
  position:absolute;
  left:117px;
  top:0px;
  width:115px;
  height:30px;
}
#u203 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u204 {
  position:absolute;
  left:232px;
  top:0px;
  width:191px;
  height:30px;
}
#u205 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u206 {
  position:absolute;
  left:423px;
  top:0px;
  width:114px;
  height:30px;
}
#u207 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
}
#u208 {
  position:absolute;
  left:537px;
  top:0px;
  width:243px;
  height:30px;
}
#u209 {
  position:absolute;
  left:2px;
  top:8px;
  width:239px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u210 {
  position:absolute;
  left:780px;
  top:0px;
  width:63px;
  height:30px;
}
#u211 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u212 {
  position:absolute;
  left:843px;
  top:0px;
  width:103px;
  height:30px;
}
#u213 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u214 {
  position:absolute;
  left:946px;
  top:0px;
  width:139px;
  height:30px;
}
#u215 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u216 {
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:34px;
  color:#00CCFF;
}
#u217 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u218 {
  position:absolute;
  left:117px;
  top:30px;
  width:115px;
  height:34px;
}
#u219 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u220 {
  position:absolute;
  left:232px;
  top:30px;
  width:191px;
  height:34px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u222 {
  position:absolute;
  left:423px;
  top:30px;
  width:114px;
  height:34px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:34px;
}
#u224 {
  position:absolute;
  left:537px;
  top:30px;
  width:243px;
  height:34px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u226 {
  position:absolute;
  left:780px;
  top:30px;
  width:63px;
  height:34px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u228 {
  position:absolute;
  left:843px;
  top:30px;
  width:103px;
  height:34px;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u230 {
  position:absolute;
  left:946px;
  top:30px;
  width:139px;
  height:34px;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u232 {
  position:absolute;
  left:0px;
  top:64px;
  width:117px;
  height:34px;
  color:#00CCFF;
}
#u233 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u234 {
  position:absolute;
  left:117px;
  top:64px;
  width:115px;
  height:34px;
}
#u235 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u236 {
  position:absolute;
  left:232px;
  top:64px;
  width:191px;
  height:34px;
}
#u237 {
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u238 {
  position:absolute;
  left:423px;
  top:64px;
  width:114px;
  height:34px;
}
#u239 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:34px;
}
#u240 {
  position:absolute;
  left:537px;
  top:64px;
  width:243px;
  height:34px;
}
#u241 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u242 {
  position:absolute;
  left:780px;
  top:64px;
  width:63px;
  height:34px;
}
#u243 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u244 {
  position:absolute;
  left:843px;
  top:64px;
  width:103px;
  height:34px;
}
#u245 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u246 {
  position:absolute;
  left:946px;
  top:64px;
  width:139px;
  height:34px;
}
#u247 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u248 {
  position:absolute;
  left:0px;
  top:98px;
  width:117px;
  height:34px;
  color:#00CCFF;
}
#u249 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u250 {
  position:absolute;
  left:117px;
  top:98px;
  width:115px;
  height:34px;
}
#u251 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u252 {
  position:absolute;
  left:232px;
  top:98px;
  width:191px;
  height:34px;
}
#u253 {
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u254 {
  position:absolute;
  left:423px;
  top:98px;
  width:114px;
  height:34px;
}
#u255 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:34px;
}
#u256 {
  position:absolute;
  left:537px;
  top:98px;
  width:243px;
  height:34px;
}
#u257 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u258 {
  position:absolute;
  left:780px;
  top:98px;
  width:63px;
  height:34px;
}
#u259 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u260 {
  position:absolute;
  left:843px;
  top:98px;
  width:103px;
  height:34px;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u262 {
  position:absolute;
  left:946px;
  top:98px;
  width:139px;
  height:34px;
}
#u263 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u264 {
  position:absolute;
  left:0px;
  top:132px;
  width:117px;
  height:34px;
  color:#00CCFF;
}
#u265 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u266 {
  position:absolute;
  left:117px;
  top:132px;
  width:115px;
  height:34px;
}
#u267 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u268 {
  position:absolute;
  left:232px;
  top:132px;
  width:191px;
  height:34px;
}
#u269 {
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u270 {
  position:absolute;
  left:423px;
  top:132px;
  width:114px;
  height:34px;
}
#u271 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:34px;
}
#u272 {
  position:absolute;
  left:537px;
  top:132px;
  width:243px;
  height:34px;
}
#u273 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u274 {
  position:absolute;
  left:780px;
  top:132px;
  width:63px;
  height:34px;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u276 {
  position:absolute;
  left:843px;
  top:132px;
  width:103px;
  height:34px;
}
#u277 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u278 {
  position:absolute;
  left:946px;
  top:132px;
  width:139px;
  height:34px;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u280 {
  position:absolute;
  left:0px;
  top:166px;
  width:117px;
  height:34px;
  color:#00CCFF;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u282 {
  position:absolute;
  left:117px;
  top:166px;
  width:115px;
  height:34px;
}
#u283 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u284 {
  position:absolute;
  left:232px;
  top:166px;
  width:191px;
  height:34px;
}
#u285 {
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u286 {
  position:absolute;
  left:423px;
  top:166px;
  width:114px;
  height:34px;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:34px;
}
#u288 {
  position:absolute;
  left:537px;
  top:166px;
  width:243px;
  height:34px;
}
#u289 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u290 {
  position:absolute;
  left:780px;
  top:166px;
  width:63px;
  height:34px;
}
#u291 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u292 {
  position:absolute;
  left:843px;
  top:166px;
  width:103px;
  height:34px;
}
#u293 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u294 {
  position:absolute;
  left:946px;
  top:166px;
  width:139px;
  height:34px;
}
#u295 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u296 {
  position:absolute;
  left:0px;
  top:74px;
  width:80px;
  height:27px;
  color:#FFFFFF;
}
#u297 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  position:absolute;
  left:109px;
  top:365px;
  width:397px;
  height:169px;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  position:absolute;
  left:548px;
  top:365px;
  width:397px;
  height:108px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u302 {
  position:absolute;
  left:1122px;
  top:74px;
  width:54px;
  height:24px;
}
#u303 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u304 {
  position:absolute;
  left:109px;
  top:74px;
  width:26px;
  height:26px;
}
#u305 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
