body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  position:absolute;
  left:456px;
  top:747px;
  width:100px;
  height:60px;
}
#u133 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:456px;
  top:448px;
  width:100px;
  height:60px;
}
#u135 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:456px;
  top:850px;
  width:100px;
  height:60px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:456px;
  top:1052px;
  width:100px;
  height:60px;
}
#u139 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:506px;
  top:1011px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u140_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u141 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:456px;
  top:142px;
  width:100px;
  height:60px;
}
#u143 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:506px;
  top:202px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u144_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:21px;
}
#u145 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:506px;
  top:807px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u146_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:21px;
}
#u147 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:456px;
  top:951px;
  width:100px;
  height:60px;
}
#u149 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:506px;
  top:910px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u150_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u151 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:456px;
  top:546px;
  width:100px;
  height:60px;
}
#u153 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:506px;
  top:508px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u154_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:21px;
}
#u155 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:506px;
  top:606px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u156_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:21px;
}
#u157 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:456px;
  top:41px;
  width:100px;
  height:60px;
}
#u159 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:506px;
  top:101px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u160_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u161 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:181px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:181px;
}
#u163 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:456px;
  top:245px;
  width:100px;
  height:60px;
}
#u165 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:456px;
  top:339px;
  width:100px;
  height:60px;
}
#u167 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:506px;
  top:305px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u168_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:21px;
}
#u169 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:506px;
  top:399px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u170_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:21px;
}
#u171 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u172 {
  position:absolute;
  left:646px;
  top:548px;
  width:325px;
  height:60px;
}
#u173 {
  position:absolute;
  left:10px;
  top:10px;
  width:305px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  position:absolute;
  left:456px;
  top:652px;
  width:100px;
  height:60px;
}
#u175 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:506px;
  top:712px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u176_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u177 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u178 {
  position:absolute;
  left:646px;
  top:245px;
  width:325px;
  height:60px;
}
#u179 {
  position:absolute;
  left:10px;
  top:10px;
  width:305px;
  word-wrap:break-word;
}
