body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1717px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:230px;
  width:1637px;
  height:183px;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:0px;
  width:129px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:274px;
  height:30px;
  font-size:14px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:270px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:0px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:33px;
  font-size:14px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:30px;
  width:129px;
  height:33px;
  font-size:14px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:33px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:30px;
  width:274px;
  height:33px;
  font-size:14px;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:30px;
  width:149px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:30px;
  width:149px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:30px;
  width:149px;
  height:33px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:30px;
  width:149px;
  height:33px;
  font-size:14px;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:30px;
  width:149px;
  height:33px;
  font-size:14px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:30px;
  width:149px;
  height:33px;
  font-size:14px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:30px;
  width:149px;
  height:33px;
  font-size:14px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:33px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:30px;
  width:147px;
  height:33px;
  font-size:14px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:44px;
  height:30px;
  font-size:14px;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:63px;
  width:129px;
  height:30px;
  font-size:14px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:63px;
  width:274px;
  height:30px;
  font-size:14px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:63px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:63px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:63px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:63px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:63px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:63px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:63px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:63px;
  width:147px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:44px;
  height:30px;
  font-size:14px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:93px;
  width:129px;
  height:30px;
  font-size:14px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:93px;
  width:274px;
  height:30px;
  font-size:14px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:93px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:93px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:93px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:93px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:93px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:93px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:93px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:93px;
  width:147px;
  height:30px;
  font-size:14px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:44px;
  height:30px;
  font-size:14px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:123px;
  width:129px;
  height:30px;
  font-size:14px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:123px;
  width:274px;
  height:30px;
  font-size:14px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:123px;
  width:149px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:123px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:123px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:123px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:123px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:123px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:123px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:123px;
  width:147px;
  height:30px;
  font-size:14px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:44px;
  height:30px;
  font-size:14px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:153px;
  width:129px;
  height:30px;
  font-size:14px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:153px;
  width:274px;
  height:30px;
  font-size:14px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:153px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:153px;
  width:147px;
  height:30px;
  font-size:14px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:184px;
  width:68px;
  height:22px;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u981_input:disabled {
  color:grayText;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:183px;
  width:219px;
  height:25px;
}
#u982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:185px;
  width:77px;
  height:22px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u983_input:disabled {
  color:grayText;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:183px;
  width:65px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:506px;
  width:727px;
  height:160px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:707px;
  word-wrap:break-word;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:58px;
  width:141px;
  height:24px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1547px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:108px;
  width:1547px;
  height:65px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1547px;
  word-wrap:break-word;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:184px;
  width:75px;
  height:22px;
}
#u988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u988_input:disabled {
  color:grayText;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:183px;
  width:180px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:185px;
  width:59px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:185px;
  width:59px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:183px;
  width:65px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
